<!DOCTYPE html>
<html>
    <head>
        <title>YJProject</title>
    </head>
    <body>
        <h1>This is home page</h1>
        <h2>
            User name is <%= userName %>
        </h2>

        <form action="/board" method="GET">
            <button>게시판 가기</button>
        </form>

        <form action="/auth/signout" method="POST">
            <button>Sign Out</button>
        </form>
        
    </body>
</html>