<!DOCTYPE html>
<html>
    <head>
        <title>YJProject</title>
    </head>
    <body>
        <h1>This is home page</h1>
        <form action="/signout" method="POST">
            <button>Sign Out</button>
        </form>
        
    </body>
</html>