<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>signUp</title>
  </head>
  <body>
    <h1>signUp - YJProto</h1>
    <form action="/signup" method="POST" id="signUpForm">
      <div>
        <label for="signUpName">이름</label>
        <input type="text" id="signUpName" name="signUpName" />
      </div>
      <div>
        <label for="signUpEmail">이메일</label>
        <input type="email" id="signUpEmail" name="signUpEmail" />
      </div>
      <div>
        <label for="signUpPassword">비밀번호</label>
        <input type="password" id="signUpPassword" name="signUpPassword" />
      </div>
      <div>
        <label for="signUpPasswordConfirm">비밀번호 확인</label>
        <input
          type="password"
          id="signUpPasswordConfirm"
          name="signUpPasswordConfirm"
        />
      </div>
      <div>
        <button type="submit">가입하기</button>
      </div>
    </form>
  </body>
</html>
